<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Profile</title>

</head>

<body>
    <div class="container my-3">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h2>Profile</h2>

                <div class="form-row">
                    <div class="col-md-6 form-group">
                        <p th:text="|Name: ${userInfo.name}|"></p>
                    </div>
                    <div class="col-md-6 form-group">
                        <p th:text="|Role: ${userInfo.role}|"></p>
                    </div>
                </div>
                <div>
                    <a href="/bank/accounts">Bank accounts</a>
                </div>
                <div>
                    <a href="/logout">Log out</a>
                </div>
                <div>
                    <a href="/admin">Admin</a>
                </div>
            </div>
        </div>